@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@source "../views";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px; /* Lebar scrollbar */
      height: 8px; /* Untuk scrollbar horizontal */
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1; /* Warna background track */
      border-radius: 10px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #888; /* Warna scrollbar */
      border-radius: 10px;
      border: 2px solid #f1f1f1; /* Tambah border biar lebih jelas */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555; /* Warna scrollbar saat hover */
    }
  }

.font-open-sans {
  font-family: "open sans", Inter;
}

select {
  font-family: "open sans", Inter;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@theme {
    --color-omahsehat: #006e77;
    --color-primary: #1f4b8e;
    --color-primary-dark: #102a52;
    --color-secondary: #182430;
    --color-secondary-dark: #060C11;
}