@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0px auto;
}
.dropdown:hover .dropdown-content {
    display: block;
}

* {
    font-family: "Open Sans", sans-serif;
}
.navbar {
    height: 20px; /* Mengatur tinggi navbar */
}
/* Style Default Header */
header {
    position: relative;
    top: 0;
    z-index: 10;
}

/* Style Fixed Header saat digulir */
header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Warna background tetap terlihat */
    z-index: 50;
}
.dark .text-custom-dark {
    color: white;
}
.gradient-green {
    background: linear-gradient(to right, #38a169, #2f855a); /* Custom static gradient */

}
.gradient-blue {
    background: linear-gradient(to right, #3b82f6, #6366f1)
}
.gradient-black {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
}
